<main>

  <div class='row g-4'>
    <div class='col-12'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='#' class='nav-link active'>Home Page</a>
        </div>
        <div class='item'>
          <a href='#' class='nav-link'>Catalog</a>
        </div>
        <div class='item'>
          <a href='#' class='nav-link disabled'>FAQ</a>
        </div>
      </div>
    </div>
    <br />
    <div class='col-4'>
      <div class='card'>
        <div class='card-body'>
          <div class='nav flex-column'>
            <div class='card my-1'>
              <div class='nav-item'>
                <a href='#' class='nav-link'>Home Page</a>
              </div>
            </div>
            <div class='item'>
              <div class='card my-1'>
                <a href='#' class='nav-link'>Catalog</a>
              </div>
            </div>
            <div class='item'>
              <div class='card my-1'>
                <a
                  href='#'
                  class='nav-link disabled'
                >FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-4'>
      <ol class='breadcrumb'>
        <li class='breadcrumb-item'>
          <a href='#'> Home</a></li>
        <li class='breadcrumb-item'>
          <a href='#'> PC </a></li>
        <li class='breadcrumb-item'>
          <a href='#'> MacBook </a></li>
      </ol>

      <div class='row'>
        <div class='col-12'>
          <h6>Hello world
            <span
              class='badge text-bg-warning rounded-pill text-uppercase'
            > топ продаж</span>
          </h6>
          <button
            class='btn btn-primary rounded-pill mb-3'
          >Click Me!</button>
          <div class='alert alert-primary'>Impotant info!</div>
        </div>
      </div>
    </div>

  </div>

</main>