<main class='p-5'>
  <h1>Hello World!</h1>

  <h2> h2</h2>
  <h3> h3 </h3>
  <h4 id='h4tag'> h4 </h4>

  <div style=' color:blueviolet'> This is Div</div>
</main>

<style>
  h2 { color: green; } h3 { color:blue; }
</style>

<script>
  h4tag.style.color = 'red';
</script>