{{!      external file.css style

  <head>
        <link href='css/css-konspekt.css' rel='stylesheet' />
  </head>
Normalize.css — це файл CSS, який забезпечує кросбраузерність стилів та видаляє непотрібні нативні стилі
 }}

<main class='p-5'>
  <h1>Hello World!</h1>

  <h2> h2</h2>
  <h3> h3 </h3>
  <h4 id='h4tag'> h4 </h4>

  {{! atribute style }}
  <div style=' color:blueviolet'> This is Div</div>


{{! tag style }}
<style>
  h2 { color: green; } h3 { color:blue; }
</style>

<h2 id="user">h2 too </h2>
{{! js style }}
<script>
  h4tag.style.color = 'red';
</script>
<div class='p-2 box>
<p '>paragraph</p>
<button type="button" class="btn">Buy it</button>
  
</div>
</main>
