<div class='col-3'>
  <div class='card text-bg-dark'>
    <div class='card-body'>
      <h6 class='card-title'>{{title}}
        {{#if isTop}}
          <div
            class='badge rounded-pill text-bg-primary'
          >Top </div>{{/if}}
        {{#if isNew}}<div
            class='badge rounded-pill text-bg-danger'
          >New</div>{{/if}}
      </h6>
      <p>{{description}}</p>
    </div>
  </div>
</div>